{% extends 'base.html' %}
{% block title%} Blog de Noticias{% endblock %}
{% block content%}
<div class="columns is-centered">
    <div class="column is-9-desktop is-10-tablet">
        <div class="mb-5">
            <a href="{{ url_for('add_post') }}" class="button is-primary is-light "><i class="fa-solid fa-plus"></i>&nbsp; Agregar noticia</a>
        </div>
        {% for post in posts %}
        <article class="card news-card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">{{ post.title }}</p>
                        <p class="category-label">{{ post.category.name }}</p>
                    </div>
                </div>
                <div class="content post-content">
                    {{ post.content }}
                </div>
                <div class="buttons are-small is-right mb-0">
                    <a href="{{ url_for('update_post', id = post.id )}}" class="button is-link is-outlined" aria-label="Editar noticia" title="Editar noticia"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ url_for('delete_post', id = post.id )}}" class="button is-danger is-outlined" aria-label="Eliminar noticia" title="Eliminar noticia"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock%}