{% extends 'base.html' %}
{% block title%} Blog de Noticias{% endblock %}
{% block content%}
<div class="columns is-centered">
    <div class="column is-8-desktop is-10-tablet">
        <div class="card news-card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Editar noticia</p>
                    </div>
                </div>
                <div class="content">
                    <form action="{{ url_for('update_post', id = post.id) }}" method="post">
                        <div class="field">
                            <label class="label">Titulo:</label>
                            <div class="control">
                                <input class="input" type="text" name='title' value="{{post.title}}">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Categoria:</label>
                            <div class="control">
                                <div class="select">
                                    <select name="category_id">
                                        {% for category in categories %}
                                        <option value="{{ category.id }}" {% if category.id == post.category_id %}selected{% endif %}>
                                            {{ category.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Contenido:</label>
                            <div class="control">
                                <textarea class="textarea" name="content" >{{post.content}}</textarea>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="button is-primary is-light" type="submit">Guardar cambios</button>
                            <a class="button is-light" href="{{ url_for('index') }}">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}